<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="/admins"><i class="bi bi-shop"></i> &nbsp; <span class="fw-bold">Hello Admin</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <div>   
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           <li class="nav-item">
              <a class="nav-link text-light" aria-current="page" href="/admins/bus/view">View Bus</a>
            </li>
           <li class="nav-item">
              <a class="nav-link text-light" aria-current="page" href="/admins/bus/add">Add Bus</a>
           </li>
           <li class="nav-item">
            <a class="nav-link text-light" aria-current="page" href="/admins/bus/see_bookings">See Bookings</a>
           </li>
           <li class="nav-item">
              <a class="nav-link text-light" aria-current="page" href="/logout">Logout</a>
           </li>
        </ul>  
      </div>
    </div>
  </div>
</nav>
