<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Password</title>
    <!-- {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}"> -->
</head>
<body>
    <div style="height:250px;">
        <p>Request OTP</p>
        <p id="error_msg">{{ error }}</p>
        <form method="post">
            {% csrf_token %}
            <table>
                <tr id="label"><td><label for="username">Enter Username:</label></td></tr>
                <tr id="text-input"><td><input type="text" name="username" id="username" placeholder=""></td></tr>
                <tr id="label"><td><label for="email">Enter Email:</label></td></tr>
                <tr id="text-input"><td><input type="email" name="email" id="email" placeholder=""></td></tr>
                <tr id="text-input"><td><input id="login" type="submit" value="Change Password"></td></tr>
            </table>
        </form>
    </div>
</body>
</html>